body
{
  background-color: #ff8c34;
}
header
{
  background-color: #7e583b;
  border-bottom: 15px solid #eca26a;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index: 1000;
}
section
{
  border-top: 15px solid #eca26a;
  background-color: #5c493a;
  padding: 20px;
  border-radius: 25px;
  display: inline-block;
}
button
{
  width: auto;
  background-color: #eca26a;
  border-radius: 25px;
  padding: 20px;
  border: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
button:hover
{
    background-color: #c58859;
    box-shadow: 0.1em 0.6em 0.7em #ff8c34;
    transform: translateY(-10px);
}
